header {
  background: linear-gradient(180deg, rgb(182, 182, 182), rgb(120, 120, 120));
  font-size: 30px;  
  font-family: Arial, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center; /* Alinha horizontalmente */
  align-items: center;
  margin: 0%;
  height: 150px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

body {
  background-color: rgb(205, 205, 205);
  align-items: center;
  text-align: center;
}

section {
  margin: 20px;
  background-color: rgb(255, 255, 255);
}

button {
  background-color: rgb(255, 255, 255);
  color: rgb(86, 86, 86);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: rgb(68, 67, 67);
  color: rgb(255, 255, 255);
}

h1 {
  color: rgb(68, 68, 68);
}